* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    font-size: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}


.box {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    cursor: pointer;
}

.box:hover {
    box-shadow: 1px 1px 5px grey;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#white {
    background-color: white;
}

#pink {
    background-color: pink;
}